@charset "UTF-8";
/* Configurações para todas paginas inclusive o index_2*/
/* Paleta de Cores */
:root {
    --mais-claro1: #d0e4f7; /*Um azul bem suave, quase como um azul céu muito pálido.*/
    --mais-claro2: #b8d8f0; /*Um tom suave, ainda claro, mas um pouco mais saturado do que o anterior.*/
    --mais-claro3: #9cc0e8; /*Um azul claro com um toque de lavanda, mantendo a suavidade.*/
    --mais-claro4: #a8c8e3; /*O tom central um azul suave e fresco.*/
    --mais-escuro1: #86b1d1; /* tom um pouco mais forte e levemente mais saturado, sem perder a suavidade.*/
    --mais-escuro2: #6f9ac2; /*Azul mais profundo e sofisticado, ainda suave, mas mais intenso.*/
    --mais-escuro3: #5784b3; /*Um tom de azul mais escuro e elegante, mais próximo do azul royal.*/
    --mais-escuro4: #406c9c; /*Azul médio-escuro, com um toque clássico e bem equilibrado.*/
    
    --fundo-secao: #f4f8fb;         /* Cor de fundo suave */
    --cor-fundo-secao1:#f9f9f9;     /* Cor de fundo suave */
    --cor-fundo-secao2:lightyellow; /* Cor de fundo suave */
    --cor-fundo-secao3:#7fb5d6;  /* Cor de fundo suave */
    
    --cor-destaque: #7fb5d6; /* Cor de destaque para links ou botões */
    --texto-cor: #333333;     /* Cor de texto principal */
    --titulo-cor: #2c3e50;    /* Cor para títulos (h1, h2, etc.) */
    --borda-cor: #ccd6e0;     /* Cor de borda suave */
    --fundo-cor-Clara:#a8c8e3; /*Um tom claro*/
    --cor-links-antes:#5d8aa8; /*cor antes de clicar*/
    --cor-destaque:#4f7f99; /*Um tom escuro*/
    --cor-complementar:#d4e3f7;
    --cor-linha-impar:#f9f9f9;
    --cor-borda-cedulas:#ddd;
    --cor-Borda:#c0d4e7;
    --cor-links-passar-o-mouse:#0019fc;
}    

/* Estilos Globais */
body {
    font-family:Arial, sans-serif;
    color: var(--texto-cor);
    background-color:var(--mais-claro1);
    
    margin: 0;
    padding: 0;
}

/* Estilo de cabeçalho*/
#pagina_principal {
    background-color: var(--mais-claro1);
    margin: 0;
    text-align: center;
}

/*Estilo do main*/
#principal {
    background-color:var(--mais-claro1);
   /* padding: 20px;*/
}

/* Estilos para o nav com a tabela */
nav {
    background-color:var(--cor-Borda);   
    display: flex;  /* Define o layout do <nav> como flexível (flexbox), permite o controle de alinhamento e distribuição dos itens internos neste caso a tabela */
    justify-content: center; /* Centraliza a tabela dentro do <nav> */
}

/* Estilos para os titulos h1 */
h1 {
    font-family:Arial, sans-serif;
    font-size: 150%;
    font-style: italic;
    color: var(--titulo-cor);
    text-align: center;
}
img {
    width: 35px;
    height: 42px;
}

/*Estilo para a lista ordenada*/
li.menu {
    background-color:var(--cor-Borda);
    padding: 8px;
}

/* Estilos para a tabela */
table {
    border-collapse: collapse; /* Remove o espaço entre as bordas */
    width: 50%; /* Largura da tabela */
    margin-top: 20px; /*margem superior*/
    margin-bottom: 20px; /*margem inferior*/   
}

/* Estilo para o cabeçalho da tabela (th) */
th {
    background-color: var(--cor-destaque); /*cor de fundo */
    border: 2px solid var(--cor-borda-cedulas); /* Borda de 2px, cor cinza claro (#ddd) */
    padding: 12px;
    text-align: center;
}

/* Estilo para as linhas da tabela (tr) */
tr {
    background-color: var(--cor-complementar); /* Aplica a cor de fundo definida na variável */
}

/* Estilo para linhas ímpares na tabela */
tr:nth-child(odd) {
    background-color:var(--cor-linha-impar); /* Aplica fundo cinza claro para as células ímpares */
}

/* Estilo para as células da tabela (td) */    
td {
    border: 2px solid var(--cor-borda-cedulas);/* Borda de 2px, cor cinza claro (#ddd) */
    padding: 20px;             /* Adiciona 20px de espaçamento interno nas células */
    text-align: center;        /* Alinha o /texto ao centro dentro da célula */
}

/* Estilo para os links dentro das células da tabela (a) */
td a {
    color: var(--cor-links-antes); /* Cor azul para os links */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
}

/* Estilo para o estado de hover (passar o mouse) nos links dentro das células */
td a:hover {
    color: var(--cor-links-passar-o-mouse); /* Escurece a cor do link quando o mouse passa por cima */
}

/*Estilo para o roda pé*/
footer {
    background-color: var(--fundo-Cor-Clara);
    margin-top: 20px;
    /*margin-bottom: 20px;*/
    text-indent: 30px;
}
#livros tr {
   background-color: var(--cor-destaque); 
}

/* Estilo das Seções das paginas secundárias*/
section {
    border: 1px solid var(--borda-cor); /*borda suave*/
    border-radius: 8px; /*bordas arredondadas*/
    text-align: justify;
    padding: 20px;
    margin: 20px;
}
#introducao {
    background-color:var(--mais-claro2);
    border: 2px solid var(--mais-claro3); /*borda suave*/
}
#sgbd {
    background-color:var(--mais-claro3);
    border: 2px solid var(--mais-escuro1); /*borda suave*/
}
#modelo_de_dados {
    background-color:var(--mais-claro4);
    border: 2px solid var(--mais-escuro1); /*borda suave*/
}
#usuarios_administradores {
    background-color:var(--mais-escuro1);
    border: 2px solid var(--mais-escuro2); /*borda suave*/
}
#usuarios_finais {
    background-color:var(--mais-escuro2);
    border: 2px solid var(--mais-claro3); /*borda suave*/
}

#arquitetura_sgbd {
    background-color: var(--mais-escuro1);
    border: 2px solid var(--mais-escuro2); /*borda suave*/
}
#resumo_usuarios {
    background-color: var(--mais-escuro4);
}
#resumo_usuarios h1 {
    color: blue;
    text-align: left;
    text-indent: 40px;
}
#arquitetura_sgbd {
    background-color: var(--mais-claro4);
}
#identidade_relacionamento {
    background-color: var(--mais-escuro2);
    border: 2px solid var(--mais-escuro3); /*borda suave*/
}
#pe_galinha {
    width: 234px;
    height: 29px;
}
#cardinalidade {
    width: 400px;
    height: 250px;
}
#ER {
    width: 400px;
    height: 250px;
}
#retangulo {
    width: 80px;
    height: 30px;
}
#losango {
    width: 110px;
    height: 40px;
}
#elipse {
    width: 80px;
    height: 30px;
}
#exemplo_ER {
    width: 400px;
    height: 250px; 
}

/* Estilo para o título da seção #resumo_usuarios */
#resumo_usuarios h1 {
    color: blue;
    text-align: left;
    text-indent: 40px;
}
footer {
    text-align: center;
}
.voltar  { 
    color: var(--titulo-cor); /* Escurece a cor do link quando o mouse passa por cima */    
}
.voltar  a:hover { 
    color: var(--mais-escuro2); /* Escurece a cor do link quando o mouse passa por cima */    
}